@model congcong.Models.cc_user

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>cc_user</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.frendsNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.frendsNum)
            @Html.ValidationMessageFor(model => model.frendsNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.secretMessageNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.secretMessageNum)
            @Html.ValidationMessageFor(model => model.secretMessageNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publickMessageNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publickMessageNum)
            @Html.ValidationMessageFor(model => model.publickMessageNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.securityQuestion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.securityQuestion)
            @Html.ValidationMessageFor(model => model.securityQuestion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.securityAnswer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.securityAnswer)
            @Html.ValidationMessageFor(model => model.securityAnswer)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
